/*Estilo del bxSlider*/
.bx-wrapper, .bx-viewport {
    height: 400px !important;
}

.bx-wrapper {
    margin: 0 auto;
}
/**/

.ubi, .horario {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.ubi p {
    font-size: 24px;
}

#entre-semana, #fin-semana {
    width: 50%;
    float: left;
    margin: 10px auto;
    text-align: center;
    font-size: 45px;
    background-color: rgba(118, 96, 70, 0.8);
    color: antiquewhite;
    padding: 20px auto;
}

#entre-semana {
    float: left;
}

#fin-semana {
    float: right;
}

#direccion {
    margin: 10px;
}

#mapa iframe{
    overflow: hidden;
    margin-right: 50px auto;
    max-width: 700px;
}
