.primera {
  float: left;
}

.Segunda {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Tercera {
  float: right;
}

.primera, .Segunda, .Tercera {
  width: 40%;
  height: 700px;
  background: hsla(32, 26%, 37%, 0.8);
  letter-spacing: 1px;
  line-height: 24px;
  max-width: 425px;
  padding: 50px;
  margin: 10px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: antiquewhite;
}

h3 {
  color: antiquewhite;
  font-size: 20px;
}

/*centar imagenes*/
aside img {
  display: block;
  margin: 0 auto;
}
